html, body {
    background-color: #444c5c;
}

.jumbotron {
    background-image: linear-gradient(to bottom, #444c5c00 30%, #444c5c 90%), url('../images/case-study-images/CIP/blm.jpg');
    color: #ffffffea;
    text-shadow: -1px -1px 0 #444c5c, 1px -1px 0 #444c5c, -1px 1px 0 #444c5c, 1px 1px 0 #444c5c;
}

/* Intro */
.intro{
    background-color: #ffffffb3;
}

.team-tools{
    color: #444c5c;
}

.role{
    background-color: #00000080;
    color: #ffffffb3;
}

.role a{
    color: #E3E5E8;
}

/* Overview */
.overview {
    background-color: #F56C63;
    color: #444c5c;
}

.problem{
    border-right: 3px solid #444c5c;
}

/*Research */
.research {
    background-color: #78A5A3;
    color: #E3E5E8;
}

.research a{
    color: #E3E5E8;
}

.plan {
    border-right: 3px solid #E3E5E8;
}

/* Ideation */
.ideation {
    background-color: #E1B16A;
    color: #444c5c;
}

.competitor-analysis{
    border-bottom: 3px solid #444c5c;
}

.cardsort{
    border-bottom: 3px solid #444c5c;
}

/* Prototyping */
.prototyping {
    background-color: #0378A6;
    color: #E3E5E8;
}

/* Conclusion */
.conclusion {
    background-color: #F56C63;
    color: #444c5c;
}

@media screen and (max-width: 1025px) {
    .problem{
        border-right: none;
        border-bottom: 3px solid #444c5c;
    }
    .plan{
        border-right: none;
        border-bottom: 3px solid #E3E5E8;
    }
    .reflection{
        border-right: none;
        border-bottom: 3px solid #444c5c;
    }

}