html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    background-color: #E3E5E8;
    font-family: 'Mulish', sans-serif;
}

h1 {
    font-size: 3vw;
    font-weight: 900;
}

h2 {
    font-size: 2vw;
    font-weight: 800;
}

p {
    font-size: 16pt;
}

a {
    color: black;
}

.gamePage {
    display: grid;
    position: relative;
    height: 100%;
    width: 100%;
    animation: fadeIn 5s ease 1;
    grid-template-columns: 100%;
    grid-template-rows: 6fr 1fr;
    grid-template-areas: "iframe" "buttons";
    align-items: center;
}

.gamePage iframe {
    grid-area: iframe;
    height: 100%;
    width: 100%;
}

@keyframes fadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100%;
    }
}

.downloadButtons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    justify-content: space-evenly;
}

.downloadButtons button {
    width: 300px;
    height: 55px;
    margin-left: 10%;
    margin-right: 10%;
}