    /*#region General Styling */

    html, body {
        margin: 0;
        padding: 0;
        animation: fadeIn ease 1s;
        height: 100%;
        position: relative;
        color: #313131;
        background-color: #E3E5E8;
        font-family: 'Mulish', sans-serif;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    h1 {
        font-size: 3em;
        font-weight: 900;
        margin: 5px 0 5px 0;
    }

    h2 {
        font-size: 2.8em;
        font-weight: 800;
        margin: 5px 0 5px 0;
    }

    h3 {
        font-size: 2.5em;
        font-weight: 700;
        margin: 5px 0 5px 0;
    }

    h4 {
        font-size: 2em;
        font-weight: 700;
        margin: 5px 0 5px 0;
    }

    h5 {
        font-size: 1.5em;
        font-weight: 600;
        margin: 5px 0 5px 0;
        font-style: italic;
    }

    h6 {
        font-size: 1.1em;
        font-weight: 600;
        margin: 5px 0 5px 0;
        font-style: italic;
    }

    p {
        font-size: 1em;
        margin: 5px 0 5px 0;
    }

    #caption{
        font-size: 0.7em;
        font-style: italic;
    }

    a {
        color: #313131;
    }

    #pageWrap {
        min-height: 100%;
        display: grid;
        grid-template-columns: 300px 10fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "header content buffer";
        justify-items: center;
        align-content: center;
        /*Buffer area adds blank area to the right of content to balance out header on large screens*/
    }

    #content {
        grid-area: content;
        max-width: 100%;
        padding: 50px;
    }

    .chunk {
        padding: 50px;
        margin-bottom: 50px;
        border: 3px solid #838383;
        border-radius: 15px;
    }

    .chunkHeader {
        margin: -30px 0 20px -30px;
    }

    #homeVideo video {
        object-fit: cover;
        width: 100vw;
        height: 100vh;
        position: fixed;
    }

    /*#endregion General Styling */

    /*#region Navigation */

    #header {
        grid-area: header;
        position: fixed;
        padding: 50px;
        z-index: 2;
    }

    #navContainer {
        background-color: #4A3061;
        border-radius: 5px;
        box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.3);
    }

    #logo {
        height: 200px;
        width: 200px;
        position: relative;
        z-index: 1;
        background: url('../images/name_square.png');
        background-size: contain;
        background-position: center;
        border-radius: 5px 5px 0px 0px;
    }

    #navMenu {
        background-color: #4A3061;
        border-radius: 0 0 5px 5px;
    }

    #navList {
        background-color: #4A3061;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        list-style: none;
        padding: 0;
    }

    .navLink {
        width: 60%;
        padding: 10px 20px 5px;
        margin: 0 10px 0 10px;
        text-align: center;
        background-color: #A086B7;
        border: 1px solid #E3E5E8;
    }

    .navLink a {
        margin: 0;
        padding: 0;
        color: #E3E5E8;
        text-decoration: none;
        font-size: 18pt;
    }

    .navLink hr {
        margin-top: 7px;
        margin-bottom: 10px;
        background-color: #E3E5E8;
        height: 2px;
        width: 30px;
        border: none;
    }

    .navLink:first-child {
        border-radius: 5px 5px 0 0;
    }

    .navLink:last-child {
        border-radius: 0 0 5px 5px;
    }

    #hamburger {
        width: 100%;
        height: 50px;
        position: relative;
        text-align: center;
        z-index: 1;
    }

    #hamburger img {
        height: 20px;
        padding: 15px 0 5px 0;
    }

    #hamburger:hover {
        background-color: rgb(255, 255, 255, 0.1);
        cursor: pointer;
    }

    /*#endregion Navigation */

    /*#region Footer */

    #footer {
        grid-area: footer;
        min-width: 100%;
        background: #7C51A1;
        color: #E3E5E8;
        font-size: 24pt;
        font-weight: 300px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        display: none;
    }

    .footerLink a {
        color: #E3E5E8;
        text-decoration: none;
        font-size: 18pt;
        font-weight: 300px;
    }

    /*#endregion Footer */

    /*#region Card */

    .card {
        max-width: 700px;
        min-height: 315px;
        overflow: hidden;
        color: #313131;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }

    .card img {
        grid-area: image;
        width: 100%;
        object-fit: cover;
        margin: 0 0 10px 0;
    }

    .card h6{
        grid-area: title;
        margin: 0 0 10px 0;
        padding: 0 5px 0 5px;
    }

    .card p{
        margin: 0 0 10px 0;
        padding: 0 5px 0 5px;
    }

    /*#endregion Card */

    /*#region Buttons */

    button {
        width: 100%;
        max-width: 300px;
        min-width: 200px;
    }

    /*#region Default Buttons*/

    .defaultButton, .defaultButton:visited {
        font-family: 'Mulish', sans-serif;
        margin: 10px;
        height: 50px;
        font-size: 18pt;
        font-weight: bold;
        color: #E3E5E8;
        background-color: #7C51A1;
        border-radius: 15px;
        border: 2px solid #E3E5E8;
        box-shadow: 0 0 0 3px #7C51A1;
        cursor: pointer;
        outline: none;
    }

    .defaultButton:hover, .defaultButton:focus {
        box-shadow: 0 0 0 3px #A086B7;
    }

    .defaultButton:active {
        box-shadow: 0 0 0 3px #4A3061;
    }

    /*#endregion Default Buttons*/

    /*#region Alt Buttons*/

    .altButton, .altButton:visited {
        font-family: 'Mulish', sans-serif;
        margin: 10px;
        height: 50px;
        font-size: 18pt;
        font-weight: bold;
        color: #E3E5E8;
        background-color: #313131;
        border-radius: 15px;
        border: 2px solid #E3E5E8;
        box-shadow: 0 0 0 3px #313131;
        cursor: pointer;
        outline: none;
    }

    .altButton:hover, .altButton:focus {
        box-shadow: 0 0 0 3px #A086B7;
    }

    .altButton:active {
        box-shadow: 0 0 0 3px #4A3061;
    }

    /*#endregion Alt Buttons*/

    /*#region App Store Buttons*/

    .appStore {
        border: none;
        border-radius: 10px;
        margin: 10px;
        height: 50px;
        background-image: url('../images/buttons/app-store-badge.jpg');
        background-position: center;
        background-size: contain;
        background-color: black;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 3px #000000;
        border-radius: 15px;
        border: 2px solid #E3E5E8;
        cursor: pointer;
    }

    .appStore:hover, .appStore:focus {
        box-shadow: 0 0 0 3px #A086B7;
    }

    .appStore:active {
        box-shadow: 0 0 0 3px #4A3061;
    }

    /*#endregion App Store Buttons*/

    /*#region Play Store Buttons*/

    .playStore {
        border: none;
        border-radius: 10px;
        margin: 10px;
        height: 50px;
        background-image: url('../images/buttons/google-play-badge.jpg');
        background-position: center;
        background-size: contain;
        background-color: black;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 3px #000000;
        border-radius: 15px;
        border: 2px solid #E3E5E8;
        cursor: pointer;
    }

    .playStore:hover, .playStore:focus {
        box-shadow: 0 0 0 3px #A086B7;
    }

    .playStore:active {
        box-shadow: 0 0 0 3px #4A3061;
    }

    /*#endregion Play Store Buttons*/

    /*#region Subscribe Buttons*/

    .subscribe {
        border: none;
        border-radius: 10px;
        margin: 10px;
        height: 50px;
        background-image: url('../images/buttons/subscribe-button.jpg');
        background-position: center;
        background-size: contain;
        background-color: #e72118;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 3px #e72118;
        border-radius: 15px;
        border: 2px solid #E3E5E8;
        cursor: pointer;
    }

    .subscribe:hover, .subscribe:focus {
        box-shadow: 0 0 0 3px #A086B7;
    }

    .subscribe:active {
        box-shadow: 0 0 0 3px #4A3061;
    }

    /*#endregion Subscribe Buttons*/

    /*#region Patreon Buttons*/

    .patreon {
        border: none;
        border-radius: 10px;
        margin: 10px;
        height: 50px;
        background-image: url('../images/buttons/patreon-button.jpg');
        background-position: center;
        background-size: contain;
        background-color: #f55c0e;
        background-repeat: no-repeat;
        box-shadow: 0 0 0 3px #f55c0e;
        border-radius: 15px;
        border: 2px solid #E3E5E8;
        cursor: pointer;
    }

    .patreon:hover, .patreon:focus {
        box-shadow: 0 0 0 3px #A086B7;
    }

    .patreon:active {
        box-shadow: 0 0 0 3px #4A3061;
    }

    /*#endregion Patreon Buttons*/

    /*#endregion Buttons*/

    @media screen and (max-width: 1025px) {
        #pageWrap {
            grid-template-columns: 100%;
            grid-template-rows: 100px 1fr;
            grid-template-areas: "header" "content";
        }
        .chunk {
            max-width: 600px;
        }
        #header {
            padding: 0px;
            width: 100%;
        }
        #content {
            padding: 30px 10px;
        }
        #footer {
            display: none;
        }
        #navContainer {
            border-radius: 0px 0px 5px 5px;
            background-color: #7C51A1;
        }
        #logoContainer {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        #logo {
            height: 80px;
            border-radius: 0px;
            background: url('../images/name_rectangle.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        #navMenu {
            border-radius: 0px 0px 5px 5px;
        }
        #navList {
            padding: 15px 0 0 0;
        }
    }

    /*Landscape Navigation for small screens*/
    @media screen and (max-height: 500px) {
        #navList {
            flex-direction: row;
            padding: 10px;
        }
        .navLink {
            padding: 10px 20px 5px;
            margin: 10px 0px 0 0px;
        }
        .navLink:first-child {
            border-radius: 5px 0 0 5px;
        }
        .navLink:last-child {
            border-radius: 0 5px 5px 0;
        }
    }